.anquan .content-main{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: url(../img/main_bg.png) left top repeat-x #E0E0E0;
    overflow: hidden;
} 
.anquan .content{
	width: 100%;
	height: 100%;
}
.anquan .jiejue-tit{
	border-top: 1px solid #cbcbcb;
    height: 50px;
    line-height: 50px;
    margin-bottom: 17px;
    font-size: 24px;
    color: #064738;
    position: relative;
    text-indent: 2px;
}
.content-items{
	width: 950px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.safe-tit{
	width: 910px;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #848484;
    margin-bottom: 30px;
    cursor: pointer;
    float:left ;
	background: #848484;
}
.safe-tit>a{
	font-size: 18px;
    color: #fff;
}
.content-items .on{
	background:#064738;
}
.safe-tit>span{
	font-size: 36px;
    float: right;
    line-height: 36px;
    color: #fff;
    display: none;
    width: 26px;
    height: 20px;
    text-align: center;
}
.safe-txt{
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	display: none;
}
.safe-txt dl{
	width: 450px;
    height: 168px;
    overflow: hidden;
    margin-bottom: 30px;
    float: left;
}
.safe-txt dl dt{
	float: left;
}
.safe-txt dl dd{
	float: right;
    width: 210px;
    height: 168px;
    font-size: 12px;
    color: #3d3d3d;
}
.safe-txt dl dd a{
	font-weight: bold;
    color: #064738;
    display: block;
    height: 34px;
    line-height: 24px;
}
.safe-txt .view{
	color: #3d3d3d;
    font-weight: normal;
    text-decoration: underline;
}
