.big{
	width: 100%;
}
.header{
	width: 100%;
	height: 94px;
	box-shadow: 0 1px 5px #bbb;
}
.container{
	width: 1086px;
	margin: 0 auto;
	position: relative;
}
.language{
	display: block;
    width: 100%;
    text-align: right;
    height: 18px;
    line-height: 18px;
    float: right;
    color: #fff;
    font-size: 12px;
}
.language .lang-list{
	width: 70px;
	display: none;
	height: 42px;
    background-color: white;
    border: solid #074739 1px;
    z-index: 100;   
}
.language .lang-list li{
    height: 21px;
    line-height: 21px;
    width: 70px;
    overflow: hidden;
}
.language .lang-list li a{
	color: #074739;
    padding-left: 5px;
    display: block;
    margin: 0px;
    text-decoration: none;
    height: 21px;
    line-height: 21px;
}
.language .lang-list li a:hover{
	color: #074739;
}
.tools{
	position: absolute;
    right: 0px;
    border: 0;
    padding-top: 6px;
    z-index: 1001;
}
.tools li{
	margin: 0;
    padding: 0;
    text-align: right;
    border: none;
    float: left;
    list-style: none;
}
.tools li a{
	font-size: 14px;
    color: #004738;
    padding: 0px 9px;
}
.tool-xiala{
	display: inline-block;
	text-align: center;
	width: 56px;
	background: url(../img/arrow.png) no-repeat 56px center;
	position: relative;
}
.tools ul li:hover a{
	color: #93c773;
}
.logo{
	float: left;
    padding-top: 10px;
}
.logo img{
	width: 205px;
    height: 30px;
}
.nav-phone{
	margin-top: 33px;
	float: right;
    position: relative;
    width: 175px;
}
.phone{
	display: block;
    width: 96%;
    color: #6fba2c;
    text-align: right;
}
.header-nav{
	width: auto;
	padding: 22px 0 0;
    float: left;
    height: 36px;
    line-height: 36px;
    position: relative;
    z-index: 2;
}
.header-nav li{
	float: left;
    width: 86px;
    line-height: 36px;
    font-size: 13px;
    text-align: center;
    background: none;
    position: relative;
    height: 54px;
    cursor: pointer;
}
.header-nav>li>a:hover{
	color: #6fba2c;
}
.header-xiala a:hover{
	color: #6fba2c;
}
.header-xiala p:hover{
	color: #6fba2c;
}
.yanjiu .header-xiala{
	left: auto;
    right: -180px;
    padding-bottom: 20px!important;
}    
.yanjiu .header-xiala dd{
	margin-right: 26px;
    min-width: 100px;
}
.header-xiala{
	margin-left: 0;
    position: absolute;
    top: 54px;
    background: #fafafa;
    border: 1px solid #ccc;
    left: 0;
    font-size: 14px;
    width: 422px;
    display: none;
    padding: 0 0 0 33px;
    border-top: none;
    box-shadow: 0px 2px 5px #bbb;
}
.huoban .header-xiala{
	width: 260px;
    padding: 20px 0 20px 33px;
}
.header-xiala dd{
	margin-right: 36px;
    float: left;
    min-width: 171px;
    text-align: left;
}
.header-xiala dd a{
    color: #222222;
    display: block;
    position: relative;
    z-index: 2;   
    font-size: 16px;
}
.header-xiala dd p{
	font-size: 13px;
	line-height: 30px;
	color: #222222;
}
.h-line{
	border-bottom: 3px solid #6DBF23;
    width: 52px;
    margin: 0 auto;
    position: relative;
    top: 15px;
    display: none;
}
.shouye .h-line{
	width: 26px;
}
.sever .h-line{
	width: 65px;
}
.banner{
	height: 350px;
	width: 100%;
	background:#f2f2f2;
}
.banner-box{
	width: 1086px;
	height: 350px;
	overflow: hidden;
	position: relative;
}
.banner-box img{
	width: 1086;
    height: 350px;
    text-align: center;
}
.banner-box ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 8688px;
}
.banner-box ul li{
	float: left;
	width: 1086px;
}
.banner-box ol{
	position: absolute;
	overflow: hidden;
	bottom: 35px;
	right: 60px;
	z-index: 111;
}
.banner-box ol li{
	float: left;
	margin-right: 10px;
}
.banner-box ol li{
	width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ddd;
}
.banner-box .on{
	border-color: #064738;
    background-color: #6DBF23;
}
.banner span{
	display: inline-block;
	width: 22px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
}
.btn-left{
	left: -40px;
	background: url(../img/arr_ll.png) center center no-repeat;
}
.btn-right{
	right: -40px;
	background: url(../img/arr_rr.png) center center no-repeat;
}
.out-banner {
    height: 1050px;
   	width: 100%;
   	background:#f2f2f2;
}
.out-banner .container{
	box-shadow: 1px 0 5px #bbb, -1px 0 5px #bbb;
}
.news-scroll{
	width: 100%;
    height: 48px;
    padding-left: 12px;
    box-sizing: border-box;
    padding-top: 7px;
}
.news-tit{
	float: left;
    width: 78px;
    height: 34px;
    line-height: 34px;
    color: #33675B;
    
}
.news-tit:hover{
	color: #7cc040;
}
.news-btn{
	display: block;
	float: left;
    width: 21px;
    height: 34px;
}
.slidePrev{
	background: url(../img/dot05.png) left center no-repeat;
}
.slideNext{
	background: url(../img/dot05.png) right center no-repeat;
}
.news-banner{
	float: left;
    position: relative;
    width: 930px;
    height: 34px;
    margin: 0px 0px 0px 10px;
    overflow: hidden;
}
.news-main{
	width: 1860px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
} 
.news-main p{
	float: left;
    width: 930px;
    height: 34px;
    line-height: 34px;
    font-size: 12px; 
}
.news-main p a{
	color: #6C6C6C;
	margin-right: 15px;
}
.news-main p a:hover{
	border-bottom:1px solid #33675B;
	color: #33675B;
}
.bnews_box{
	width: 100%;
	overflow: hidden;
}
.bnews-item{
	width: 361px;
    float: left;
    border-right: 1px solid #ebebeb;
    background: #fff;
}
.bnews-tit{
	line-height: 30px;
    background: #f2f2f2;
    color: #666666;
    font-size: 18px;
    display: block;
    padding-left: 20px;
}
.bnews-content{
	padding: 10px;
    padding-bottom: 30px;
}
.one{
	padding-left: 20px;
}
.bnews-content img{
	height: 186px;
    width: 335px;
    cursor: pointer;
    vertical-align: top;
}
.news-txt{
	margin-top: 10px;
    line-height: 30px;
    font-size: 14px;
}
.news-txt a{
	color: #4d4d4d;
}
.news-txt a:hover{
	color: #6fba2c;
}
.bnews-item .tit1{
	padding-left: 10px;
}
.share{
	height: 128px;
    background: #ebebeb;
}
.share ul{
	width: 596px;
    margin: 0 auto;
    padding: 20px 0;
}
.share li{
	float: left;
	padding-right: 200px;	
}
.share li:nth-of-type(3){
	padding-right: 0;
}
.icon{
	display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #9e9e9e;
}
.zixun{
	background: url(../img/other_gray.png) -32px 12px no-repeat;
}
.zixun:hover{
	background: url(../img/other_icons.png) -32px 12px no-repeat;
}
.sina{
	background: url(../img/other_gray.png) 12px 13px no-repeat;
}
.sina:hover{
	background: url(../img/other_icons.png) 12px 13px no-repeat;
}
.wechat{
	background: url(../img/other_gray.png) -78px 12px no-repeat;
}
.wechat:hover{
	background: url(../img/other_icons.png) -78px 12px no-repeat;
}
.event{
	padding: 20px 20px 40px 20px;
	overflow: hidden;
}
.ev-tit{
	line-height: 30px;
    font-size: 21px;
    text-align: center;
    font-weight: normal;
}
.ev-contant{
	margin-top: 18px;
}
.ev-list{
	width: 348px;
    float: left;
}
.ev-biaoti{
	font-size: 14px;
    height: 42px;
    line-height: 42px;
    display: block;
    color: #333333;
}
.ev-list img{
	width: 112px;
	height: 85px;
	float: left;
    margin-right: 20px;
}
.ev-list p {
	line-height: 22px;
    color: #666666;
}
.ev-list p a{
	color: #064738;
}
.foot-list{
	width: 100%;
    min-height: 284px;
    height: auto;
    background: #4C4C4C;
    overflow: hidden;
}
.foot-list .container{
	width: 950px;
    margin: 0px auto;
    margin-bottom: 10px;
}
.foot-item{
	float: left;
    width: 153px;
    padding-left: 80px;
    border-right: 1px solid #595959;
}
.foot-item dt a{
	color: #6DBF23;
}
.foot-item dd a{
	color: #C6C6C6;
	cursor: pointer;
}
.foot-item dd a:hover{
	color: #6DBF23;
}
.foot-item dt{
	padding: 35px 0 20px;
}
.foot-item dd{
	line-height: 26px;
    font-size: 12px;
}
.foot-list .fot-last{
	border-right: 0px solid #595959;
}
.footer{
	width: 100%;
	background: #f2f2f2;
	overflow: hidden;
}
.footer-ul{
	float: left;
    line-height: 26px;
    margin-left: -12px;
}
.footer-ul li{
	    float: left;
    padding: 0px 12px;
    background: url(../img/dot04.jpg) right center no-repeat;
}
.footer-ul li a{
	color: #6fba2c;
	font-size: 14px;
}
.last-footer{
	float: left;
	color: #666666;
	padding-bottom: 20px;
}
.fix-box{
	position: fixed;
    right: 0;
    bottom: 90px;
    width: 40px;
    z-index: 1300;
    cursor: pointer;
}
.fix-item{
	width: 40px;
    background-color: rgba(111,186,44,0.9);
    height: 40px;
    margin-bottom: 4px;
    background-repeat: no-repeat;
    background-image: url(../img/index_shortcut_all_spirit.png);
}
.swzx{
	background-position: -241px -80px;
}
.jszx{
	background-position: -201px -160px;
}

.rxdh{
	background-position: -241px -121px;
}
.gfwx{
    background-position: -80px 0;
}
.gfbk:hover{
	 background-position: -203px 0;
	 background-color: rgba(1,147,222,1);
}
.gfwx:hover{
	 background-position: -40px 0;
	 background-color: rgba(1,147,222,1);	
}
.rxdh:hover{
	 background-position: -241px -40px;
	 background-color: rgba(1,147,222,1);	
}
.jszx:hover{
	 background-position:-201px -160px;
	 background-color: rgba(1,147,222,1);	
}
.swzx:hover{
	 background-position:-241px -80px;
	 background-color: rgba(1,147,222,1);	
}